framework: >= net46
source https://www.nuget.org/api/v2
nuget FSharp.Compiler.Service
nuget FSharp.Interop.Dynamic
nuget Microsoft.Azure.WebJobs >= 2.0 prerelease
nuget Microsoft.Azure.WebJobs.Extensions >= 2.0 prerelease
nuget Newtonsoft.Json
nuget Vagabond